@import "tailwindcss";

body {
    background-color: var(--color-bg);
}

@theme {
    --color-bg: #111111;
    --color-black-light: #212121;
    --color-black-lighter: #3a3a3a;
    --color-white-light: #ececec;
    --color-white-dark: #a4a4a4;
    --color-primary: #5ec0ff;


    /* Font */
    --font-poppins: "poppins", sans-serif;
    --default-font-family: var(--font-poppins);
}

@font-face {
    font-family: "poppins";
    src: url("../font/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.hover-effect {
    @apply hover:-translate-y-1 transition-transform duration-300;
}




