@import "tailwindcss";

body {
    background-color: var(--color-bg);
}

@theme {
        --color-bg: #0a1224;
        --color-black-light: #151d30;
        --color-black-lighter: #233447;

        --color-white-light: #f2f2f2;
        --color-white-dark: #bfc4cc;

        --color-primary: #13d6ff;
        --color-primary-dark: #0aa0c7;

        --color-secondary: #b7ff66;
        --color-secondary-dark: #7ccb39;



    /* Font */
    --font-poppins: "poppins", sans-serif;
    --font-poppins-light: "poppins-light", sans-serif;
    --default-font-family: var(--font-poppins);
}

@font-face {
    font-family: "poppins";
    src: url("../font/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins-light";
    src: url("../font/Poppins-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.hover-effect {
    @apply hover:-translate-y-1 transition-transform duration-300;
}

.focus-effect {
    @apply focus:border-primary focus:ring-1 focus:ring-primary focus:outline-none;
}




